extends layout

block content
  h1.text-center= title
  p.text-center Aplikacija za organiziranje projekata
  p 
  div.d-block.w-25.mx-auto.pl-5
    a(href='/projects')
      button.btn.btn-success.ml-5 Početak