doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    nav.navbar.navbar-expand-md.navbar-light.bg-success
      a.navbar-brand(href='/') PROJEKTI APP
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/projects')
              | Moji projekti
          li.nav-item.active
            a.nav-link(href='/projects/new').
                Novi projekt
          li.nav-item.active
            a.nav-link(href='/projects/arhiva').
                Arhiva projekata
        ul.navbar-nav.ml-auto
          li.nav-item.active
            a.nav-link(href='/users/logout')
              | Odjava
    main
      .container
        p
        block content
        br