doctype html
html
  head
    title PROJEKTI APP
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    nav.navbar.navbar-expand-md.navbar-light.bg-success
      a.navbar-brand(href='/') PROJEKTI APP
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/users/login')
              | Prijava
          li.nav-item.active
            a.nav-link(href='/users/register').
                Registracija
    main
      .container
        p
        block content
        br