extends ../layout

block content
    h3.text-success.text-center Arhiva projekata
    br
    table.table.col-md-12
        h5 Projekti: vlasnik
        thead.thead-success.bg-success
            tr
                th Naziv projekta
                th Opis projekta
                th Cijena projekta
                th
                th
                th
        tbody
            if myprojects.length==0
                tr
                    td Nema arhiviranih projekata na kojima ste bili vlasnik :(
            - each project, i in myprojects
                tr.border-bottom
                    td= project.naziv
                    td= project.opis
                    td= project.cijena
                    td
                        a(href='/projects/#{project._id}').text-success Prikaži
                    td
                        form(action='/projects/arhiva/#{project._id}',method='post',enctype='application/x-www-form-urlencoded')
                            input(type='hidden',value='PUT',name='_method')
                            button.btn.btn-success(type='submit').
                                Premjesti iz arhive
                    td
                        form(action='/projects/#{project._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                            input(type='hidden',value='DELETE',name='_method')
                            button.btn.btn-warning(type='submit').
                                Obriši
    br
    table.table.col-md-12
        h5 Projekti: član tima
        thead.thead-success.bg-success
            tr
                th Naziv projekta
                th Opis projekta
                th Cijena projekta
                th
        tbody
            if projects.length==0
                tr
                    td Nema arhiviranih projekata na kojima ste bili član tima :(
            - each project, i in projects
                tr.border-bottom
                    td= project.naziv
                    td= project.opis
                    td= project.cijena
                    td
                        a(href='/projects/#{project._id}').text-success Prikaži