extends ../layout

block content
	h3.text-success.text-center.
		Uredi projekt
	form#formEditProject(action='/projects/#{project._id}/edit',method='post',name='updateProject',enctype='application/x-www-form-urlencoded').col-md-8.mx-auto
		.form-group
			label(for='inputNaziv') Naziv: 
			input#inputNaziv.form-control(type="text", value='#{project.naziv}', name="naziv")
		.form-group
			label(for='inputOpis') Opis:
			input#inputOpis.form-control(type="text", value='#{project.opis}', name="opis")
		.form-group
			label(for='inputCijena') Cijena: 
			input#inputCijena.form-control(type="number", value='#{project.cijena}', name="cijena")
		.form-group
			label(for='inputDatumP') Datum početka: 
			input#inputDatumP.form-control(type="date", name="datump", value='#{moment(project.datump).format("DD/MM/YYYY")}')
		.form-group
			label(for='inputDatumZ') Datum završetka: 
			input#inputDatumZ.form-control(type="date", name="datumz", value='#{moment(project.datumz).format("DD/MM/YYYY")}')
		.form-group
			label(for='inputPoslovi') Obavljeni poslovi: 
			input#inputPoslovi.form-control(type='text', value='#{project.poslovi}', name='poslovi')
		.form-group.form-check
			input#inputArhiva.form-check-input(type='checkbox' name='arhiva' checked=project.arhiva)
			label.form-check-label(for="inputArhiva") Arhiviraj projekt
		input(type='hidden',value='PUT',name='_method')
		button#btnSubmit.btn.btn-success(type="submit") Spremi
		