extends ../layout

block content
    
    table.table.col-md-12
        h5 Projekti: vlasnik
        thead.thead-success.bg-success
            tr
                th Naziv projekta
                th Opis projekta
                th Cijena projekta
                th 
                th
                th
                th
        tbody
            if myprojects.length==0
                tr
                    td Nema projekata na kojima ste vlasnik :( 
            - each project, i in myprojects
                tr.border-bottom
                    td= project.naziv
                    td= project.opis
                    td= project.cijena
                    td
                        a(href='/projects/#{project._id}').text-success Prikaži
                    td
                        a(href='/projects/#{project._id}/edit').text-success Uredi
                    td
                        a(href='/projects/#{project._id}/members').text-success Uredi članove
                    td
                        form(action='/projects/#{project._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                            input(type='hidden',value='DELETE',name='_method')
                            button.btn.btn-warning(type='submit').
                                Obriši
    a(href='/projects/new')
        button.btn.btn-success Dodaj projekt

    br
    br
    table.table.col-md-12
        h5 Projekti: član tima
        thead.thead-success.bg-success
            tr
                th Naziv projekta
                th Opis projekta
                th Cijena projekta
                th Obavljeni poslovi
                th
                th
        tbody
            if projects.length==0
                tr
                    td Nema projekata na kojima ste član tima :(
            - each project, i in projects
                tr.border-bottom
                    td= project.naziv
                    td= project.opis
                    td= project.cijena
                    td= project.poslovi
                    td
                        a(href='/projects/#{project._id}').text-success Prikaži
                    td
                        a(href='/projects/#{project._id}/member-edit').text-success Uredi