extends ../layout

block content
	h3.text-success.text-center.
		Uredi projekt
	form#formEditProject(action='/projects/#{project._id}/member-edit',method='post',name='updateProject',enctype='application/x-www-form-urlencoded').col-md-8.mx-auto
		.form-group
			label(for='inputNaziv') Naziv: 
			input#inputNaziv.form-control(type="text", value='#{project.naziv}', name="naziv" readonly)
		.form-group
			label(for='inputOpis') Opis:
			input#inputOpis.form-control(type="text", value='#{project.opis}', name="opis" readonly)
		.form-group
			label(for='inputCijena') Cijena: 
			input#inputCijena.form-control(type="number", value='#{project.cijena}', name="cijena" readonly)
		.form-group
			label(for='inputPoslovi') Obavljeni poslovi: 
			input#inputPoslovi.form-control(type='text', value='#{project.poslovi}', name='poslovi')
		input(type='hidden',value='PUT',name='_method')
		button#btnSubmit.btn.btn-success(type="submit") Spremi
		