extends ../layout

block content
	h3.text-success.text-center.
		#{title}
	form#formAddProject(name="addproject",method="post",action="/projects" class=).col-md-8.mx-auto
		.form-group
			label(for='inputNaziv') Naziv: 
			input#inputNaziv.form-control(type="text", placeholder="Naziv projekta", name="naziv")
		.form-group
			label(for='inputOpis') Opis:
			input#inputOpis.form-control(type="text", placeholder="Više o samom projektu...", name="opis")
		.form-group
			label(for='inputCijena') Cijena: 
			input#inputCijena.form-control(type="number", name="cijena")
		.form-group
			label(for='inputDatumP') Datum početka: 
			input#inputDatumP.form-control(type="date", name="datump", placeholder='#{moment().format("DD/MM/YYYY")}')
		.form-group
			label(for='inputDatumZ') Datum završetka: 
			input#inputDatumZ.form-control(type="date", name="datumz")
		button#btnSubmit.btn.btn-success(type="submit") Dodaj
	