extends ../layout

block content

    table.table.col-md-12
        thead.thead-success.bg-success
            tr
                th Naziv
                th Opis
                th Cijena
                th Datum početka
                th Datum završetka
                th Obavljeni poslovi
        tbody
            tr.border-bottom
                td= project.naziv
                td= project.opis
                td= project.cijena
                td= moment(project.datump).format("DD/MM/YYYY")
                td= moment(project.datumz).format("DD/MM/YYYY")
                td= project.poslovi