extends ../layout-users

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3.mx-auto.text-center
        h1.display-4.m-b-2 Dobrodošli
        div.col-md-6.mx-auto.text-center
          p Potrebna je prijava za nastavak (Ako već niste, registrirajte se!)