extends ../../layout

block content
    
    .col-md-8.mx-auto
        h3.text-success.text-center Članovi projektnog tima
        br
        table.table.col-md-12
            thead.thead-success.bg-success
                tr
                    th E-mail člana
                    th
            tbody
                - each member, i in members
                    tr.border-bottom
                        td= member.email
                        td
                            form(action='/projects/#{project._id}/members/#{member._id}',method='post',enctype='application/x-www-form-urlencoded')
                                input(type='hidden',value='PUT',name='_method')
                                button.btn.btn-warning(type='submit').float-right.
                                    Obriši
        
        a(href='/projects/#{project._id}/members/new') 
            button.btn.btn-success Dodaj člana
        p