extends ../../layout

block content
	h3.text-center.text-success.
		#{title}
	if error_msg!=''
		p.alert.alert-danger= error_msg
	form#formAddMember(name="addmember",method="post",action='/projects/#{id}/members').col-md-8.mx-auto
		.form-group
			label(for='inputMember') E-mail: 
			input#inputMember.form-control(type="text", placeholder="person@example.com", name="email")
		input(type='hidden',value='PUT',name='_method')
		button#btnSubmit.btn.btn-success(type="submit") Dodaj